<?xml version="1.0" ?>
<launch>
  <!-- args for franks initialization-->
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="load_gripper" default="true" />
  
  <!-- Initialize real robot and gripper, moveit, and rviz-->
  <include file="$(find panda_moveit_config)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <!-- Initialize my own interface nodes -->
  <rosparam command="load" file="$(find panda_tools)/config/params.yaml" />
  <node name="ArmCommander" pkg="panda_tools" type="ArmCommander.py" respawn="false" output="screen"></node>
  <node name="GripperCommander" pkg="panda_tools" type="GripperCommander.py" respawn="false" output="screen"></node>
</launch>

